.ContactPage {
  align-items: center;
}
.InnerContactPage {
  display: flex;
  justify-content: center;
}
.contactImg {
  width: 100%;
  max-width: 800px;
}
.contactComp {
  display: flex;
  justify-content: center;
}

.employButtion {
  padding-top: 5%;
  padding-bottom: 5%;
}
